/*
 layout
*/
body {
 height: 100%;
}
.shape-1 {
	position: absolute; /* !important; */
  position: fixed;
	width: 404px;
	width: 60vw;
	left: auto;
	right: 120px;
  z-index: -3;
}
.shape-2 {
  position: fixed;
	width: 40px;
	left: auto;
	right: 100px;
  z-index: -2;
}
.hero {
  /* height: 80vh; */
  overflow: hidden;
}
.hero div.zz {
  /*
	position: absolute;
	right: 3rem;
   */
	position: relative; float: right;
	min-width: 30vw;
	height: auto;
	top: 5rem;
	z-index: 4;
	margin: auto;
	margin-right: 15px;
	max-width: calc(100% - 15px);
	max-height: 100vh;
  overflow-y: auto;
  overflow-wrap: break-word;
}
/*
.hero h4 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 2.25rem;
}
*/
.hero > img {
  position: fixed;
  right: 6rem;
	width: 70vw;
	height: 575px;
	margin: 60px 30px 0 auto;
  z-index: -1
}
.cards {
  display: grid;
	min-height: 432px;
	grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
	/* grid-template-rows: repeat(3, auto); */
	width: 100%;
	height: auto;
	grid-gap: 30px;
	margin: 2rem auto 1rem 0;
}
.card {
  max-height: 320px;
  overflow-x: clip;
  padding-left: 0;
  padding-right: 0;
}

.signup {
	color: grey;
	/* padding: 0.8rem; */
	/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%),; */
	background: url("../img/i-wyjeb.jpg");
	background-size: auto 100%;
	background-attachment: fixed;
}

form {
	display: grid;
	grid-template-columns: 200px 1fr;
	row-gap: normal;
	column-gap: 16px;
}

.list {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* min-height: 320px; */
	height: auto;
	grid-gap: 1rem;
	margin: 91px auto 30px 0;
}
.social {
  position: relative;
}

#site-navigation {
  display: flex;
  align-items: center;
  align-content: flex-start;

  /* 
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: start-end;
  */
  overflow: visible;
  height: 48px;
  z-index: 10;
}
#site-navigation #main-menu {
  text-align: left;
  opacity: 0.5;
}
#site-navigation h2 {
 color: purple;
}
#site-navigation ul {
 padding-left: 0;
}
#site-navigation ul li {
  display: block;
  padding: 12px 10px;
}
 
#site-navigation a {
  text-decoration: none;
}
 
#site-navigation > label {
  display: block;
  font-size: 36px;
  position: fixed;
  /* position: absolute; */
  right: 20px;
  width: 36px;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#site-navigation > input {
  display: none;
}
#site-navigation > input:not(:checked) + #main-menu {
  /* top: 6px; */
  position: relative;
  height: 48px;
  overflow: hidden;
}
#site-navigation > input:checked + #main-menu {
  background-color: #f3ecfc;

  display: block;
  float: left;
  height: auto;
  opacity: 1.0;
  clear: both;
  top: 32px;
  position: fixed;
/*
  position: absolute;
  position: sticky;
*/
  z-index: 5;
  /*
  */
}

@media (min-width: 600px) {
  #site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*
    align-content: flex-start;
     height: auto;
    */
  }
  #site-navigation #main-menu {
    /* top: 0; */
    display: block;
    position: relative;
    text-align: right;
    margin-right: 2rem;
    opacity: 1;
  }
  #site-navigation > label {
    display: none
  }
  #site-navigation ul li {
    display: inline-block;
  }
  #site-navigation > input:checked + #main-menu {
    top: initial;
    position: relative;
  }
}
