*, ::before {
	box-sizing: border-box;
}
body { margin: 0; }

.align-center {
	text-align: center;
}
.circle {
  border: 1px solid black;
	border-radius: 50%;
	height: 94px;
	width: 94px;
	margin: 0 auto;
}
.icon {
	display: block;
	line-height: 0;
 /* width: 80%; */
}
.padding-y1 {
	padding-top: 0.5em;
	padding-bottom: 1em;
}
.padding-y2 {
	padding-top: 1em;
	padding-bottom: 1.5em;
}
.padding-2em {
	padding: 2em;
}
.padding-1em {
	padding: 1em;
}
.margin-auto {
  margin: auto;
}
section {
 padding-left: 1rem;
 padding-right: 1rem;
}

.expanded-height {
	height: 100% !important;
	top: 0 !important;
}

.clearfix {
  overflow: auto;
}
.inline-block {
  display: inline-block;
}

.full {
  max-width: 100%;
}
.shadow {
 box-shadow: 5px 5px 15px 2px rgba(4,3,5,0.9);
}

.white {
	background-color: white;
  color: black;
}
.text-grey-50 {
  color: black;
  opacity: 0.5;
}

.spacer50 {
  height: 50vh;
}

.relative {
  position: relative
}
.backlink a, .backlink p {
	display: inline-block;
}
