---
base: './'
featured:
 url: news/
 slug: News
---
<!DOCTYPE html>
<!-- {{ site.time | date_to_xmlschema }} -->
{% assign config = site.data.config %}
{% assign baseurl = site.baseurl | default: '/' | replace_first: '/', page.base %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf8"/>
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" type="image/png" href="img/favicon.png">
<style>
</style>
<div class="rectangle shape-1 expanded-height palette-2g"></div>
<div class="rectangle shape-2 expanded-height palette-2"></div>

{% include navig.htm %}

<section class="padding-x1">

{% include hero.htm %}

{% include cards.htm %}

</section>
<section class="padding-x1">
{% include signup.htm %}

{% include contact.htm %}
</section>

<section class="padding-x1">
<footer class="align-center footer">

<p class="">Dr. IT, your trusted partner when technology fails you ...</p>

{% include social.htm %}

<span>
<a class="link" href="https://tmpl.ml" target="_blank"> Website </a>
created by <a href="http://duckduckgo.com/?q=who+is+%22doctor+IT%22+%2BMychelium+!">Dr I&#183;T</a>
with <a class="link" href="" target="_blank">♡</a>.
</span>

</footer>
</section>


