<!-- {{ page.date }} -->
<div class="list">

<div class="white card shadow padding-y1 palette-1 align-center">
    <h4 class="align-center palette-1">Address</h4>
    <a target="_blank" href="https://maps.google.com/?q=Ch.+de+la+Chiesaz,+81024+EcublensVD+Switzerland">
    <div class="circle palette-3 padding-1em">
<!--
      <img class="icon block" src=https://via.placeholder.com/64/aaa/icon.png>
-->
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="img/map.svg#svg-map"></use>
      </svg>
    </div>
    <p>Ch. de la Chiesaz, 8<br>1024 Ecublens<br>VD Switzerland</p></a>
</div>

<div class="white card shadow padding-y1 palette-1 align-center">
    <h4 class="align-center palette-1">Email</h4>
    <a href="mailto:michelc@drit.ml">
    <div class="circle palette-3 padding-1em">
<!--
      <img class="icon block" src=https://via.placeholder.com/64/aaa/icon.png>
-->
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="img/email.svg#svg-email"></use>
      </svg>
    </div>
    <p>michelc@drit.ml</p></a>
</div>

<div class="white card shadow padding-y1 palette-1 align-center">
    <h4 class="align-center palette-1">Phone</h4>
    <a href="callto:+41767609400">
    <div class="circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="img/phone.svg#svg-phone"></use>
      </svg>
    </div>
    <p>+41 76 76 0 9400</p></a>
</div>

<div class="white card shadow padding-y1 palette-1 align-center">
    <h4 class="align-center palette-1">Message</h4>
    <a href="http://t.me/doctorIT">
    <div class="circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="img/paper-plane.svg#svg-paper-plane"></use>
      </svg>
    </div>
    <p>@doctorIT</p></a>
</div>


</div>
