<div id=quote class="align-center">
<p class="margin-auto white padding-2em">
Like Our Services? <label for=toggle2>Get an&nbsp;&nbsp;<span class="button">Instant Quote</span></label>
</p>
<!-- Signup-->
<input id="toggle2" type="checkbox" class="toggle">
<div class="signup container padding-7p">
<div class="white align-center trans-80 padding-2em shadow">
<form class="contact_form clearfix" method="" action="">
<label for="contact_full-name_0" class="contact_form_label">Full Name</label>
<input type="text" id="contact_full-name" class="input" value="" name="contact_full-name" data-required_mark="required" data-field_type="input" data-original_id="full-name" placeholder="Full Name">
<label for="contact_email" class="contact_form_label">Email Address</label>
<input type="text" id="contact_email" class="input" value="" name="contact_email" data-required_mark="required" data-field_type="email" data-original_id="email" placeholder="Email Address">

<label for="contact_phone" class="contact_form_label">Phone Number</label>
<input type="text" id="contact_phone" class="input" value="" name="contact_phone" data-required_mark="required" data-field_type="input" data-original_id="phone" placeholder="Phone Number">

<label for="contact_org" class="contact_form_label">Organization Name</label>
<input type="text" id="contact_org" class="input" value="" name="contact_org" data-required_mark="required" data-field_type="input" data-original_id="company" placeholder="Organization Name">
<label for="contact_address" class="contact_form_label">Address</label>
<input type="text" id="contact_address" class="input" value="" name="contact_address" data-required_mark="required" data-field_type="input" data-original_id="address" placeholder="Address">

<label for="contact_desc" class="contact_form_label">Message</label>
<textarea name="contact_desc" id="contact_desc" class="contact_message input" data-required_mark="required" data-field_type="text" data-original_id="message" placeholder="Problem Description"></textarea>

<label for="contact_note" class="contact_form_label">Optional Note</label>
<textarea name="contact_note" id="contact_note" class="contact_note input" data-required_mark="optional" data-field_type="text" data-original_id="note" placeholder="Optional Note"></textarea>

<input type="hidden" value="contact_proccess" name="contactform_submit">
<button type="button" name="builder_submit_button" class="contact_submit button" onclick="contact_submit(event);">Submit</button>
<input type="hidden" id="_nonce-contact-form-submitted" name="_nonce-contact-form-submitted" value="e4b654fe97"><input type="hidden" name="_http_referer" value="" required>
					</form>
		</div>
</div>

</div>
<!--
<script>
function open_signup_div(ev) {
  document.getElementsByClassName('signup')[0].style.display = '';
}
function contact_submit(ev) {
 /* TBD send data to proper DB ! */
 document.getElementsByClassName('signup')[0].style.display = 'none';

}
</script>
-->
