<div class="social horizontal">
    <a class="div-link" href="{{config.linkedin_url}}">
    <div class="icon circle palette-3 padding-1em"> 
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/linkedin.svg#svg-linkedin"></use>
      </svg>
    </div></a>

    <a class="div-link" href="{{config.twitter_url}}">
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/twitter.svg#svg-twitter"></use>
      </svg>
    </div></a>

    <a class="div-link" href="{{config.facebook_url}}">
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/facebook.svg#svg-facebook"></use>
      </svg>
    </div></a>

    <a class="div-link" href="bios.html">
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/bio.svg#svg-bio"></use>
      </svg>
    </div></a>

    <a class="div-link" href="{{config.gitlab_url}}">
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/gitlab.svg#svg-gitlab"></use>
      </svg>
    </div></a>

    <a class="div-link" href="{{site.git_url}}" target=_new>
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/git.svg#svg-git"></use>
      </svg>
    </div></a>

    <a class="div-link" href="https://www.google.com/search?hl=en&q=%22Eco%20Organic%20Technologies%22" target="_new">
    <div class="icon circle palette-3 padding-1em">
      <svg class="svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
      <use xlink:href="{{baseurl}}img/leaf.svg#svg-leaf"></use>
      </svg>
    </div></a>
</div>
