<!DOCTYPE html><!-- {{ site.time | date_to_xmlschema }} {{page.path}} --><meta charset="utf8"/>
{% assign random = site.time | date: "%s%N" | modulo: site.pages.size %}
{%- assign author_name = page.author.name | default: site.author-name | default: site.commiter-name | default: site.user-name -%}
<script><!CDATA[[ {{page.content | strip_html | normalize_whitespace | strip_newlines }} ]]></script>
<title>🌱 {{page.title | default: page.slug | replace: '-',' ' | capitalize}} | {{page.content | strip_newlines | strip_html | truncate: 76,'...'}} ~ {{site.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf8"/>
<meta description="{{page.content | strip_html | strip_newlines | truncate: 78,'...' | append: ' by ' | append: author_name}}">
<meta keywords="{{page.collections}}, {{page.category}}, {{page.tags}}, {{author_name}}">
{%- include base.liquid -%}
<link rel="stylesheet" href="{{baseurl}}css/layout.css">
<link rel="stylesheet" href="{{baseurl}}css/main.css">
<link rel="stylesheet" href="{{baseurl}}css/style.css">
<style>/* critical css */
</style>
<div class="rectangle shape-1 expanded-height palette-2g"></div>
<div class="rectangle shape-2 expanded-height palette-2"></div>
{% include navig.htm %}

<!-- base href="{{baseurl}}" -->
<section class="padding-x1">

{% include hero.htm %}

<div class="container white padding-1em">
{{content}}
--&nbsp;<br>
<small>posted on {{ page.date | date_to_xmlschema }} by {{ author_name }} at url: <a href="{{page.url | replace_first: '/', baseurl }}">{{page.url}}</a></small>


</section>

<section class="backlink padding-x1">
<footer class="align-center footer">

<p class="">{{config.brand}}, your trusted partner when technology fails you ...</p>

{% include social.htm %}

<span>
<a class="link" href="https://tmpl.ml" target="_blank"> Website </a>
created by <a href="http://duckduckgo.com/?q=who+is+%22doctor+IT%22+%2BMychelium+!">Dr I&#183;T</a>
with <a class="link" href="" target="_blank">♡</a>.
</span>
<br><p class="mt-1em">seed: {{site.time | date: "%s-%N"}}; random: {{random}} 🪢</p>
</footer>
</section>
