<!DOCTYPE html><!-- {{ site.time | date_to_xmlschema }} --><meta charset="utf8"/>
{% assign config = site.data.config %}{% assign baseurl = site.baseurl | default: '/' | replace_first: '/', page.base %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf8"/>
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/style.css">
<style>/* critical css */
</style>
<div class="rectangle shape-1 expanded-height palette-2g"></div>
<div class="rectangle shape-2 expanded-height palette-2"></div>
{% include nav.html %}

<div class=container>
{{content}}
</div>
--&nbsp;<br>
<small>url: <a href="{{page.url | replace_first: '/', baseurl }}">{{page.url}}</a></small>
